In [ ]:
# methods to de;lete the items from the dic

1. pop
2. popitem

# 1.pop 

- removes the specified key and return the corresponding value. if the key is not found, default is returend if given
else key error is reasied

In [1]:
emp_data = {'emp1':{'name':'afsaan' , 'age':23 , 'salary':'24k'} , 
           'emp2':[{'name':'rahul' , 'age':24 , 'salary':'25k'}]}

# if key is present
print(emp_data.pop('emp2'))

[{'name': 'rahul', 'age': 24, 'salary': '25k'}]

In [3]:
# if key is not present and default is not given

emp_data = {'emp1':{'name':'afsaan' , 'age':23 , 'salary':'24k'} , 
           'emp2':[{'name':'rahul' , 'age':24 , 'salary':'25k'}]}

print(emp_data.pop('emp3'))

KeyError: 'emp3'

In [4]:
# if key is not present and default is given

emp_data = {'emp1':{'name':'afsaan' , 'age':23 , 'salary':'24k'} , 
           'emp2':[{'name':'rahul' , 'age':24 , 'salary':'25k'}]}

print(emp_data.pop('emp3', 'key is not present'))

key is not present

# 2. popitem

- remove and return tuple (key,value) pair from the last

In [5]:
emp_data = {'emp1':{'name':'afsaan' , 'age':23 , 'salary':'24k'} , 
           'emp2':[{'name':'rahul' , 'age':24 , 'salary':'25k'}]}

print(emp_data.popitem())

('emp2', [{'name': 'rahul', 'age': 24, 'salary': '25k'}])

In [8]:
# remove age of employee 2

emp_data = {'emp1':{'name':'afsaan' , 'age':23 , 'salary':'24k'} , 
           'emp2':[{'name':'rahul' , 'age':24 , 'salary':'25k'}]}

emp_data['emp2'][0].pop('age')

24

In [10]:
# Methods to check all the keys

emp_data = {'emp1':{'name':'afsaan' , 'age':23 , 'salary':'24k'} , 
           'emp2':[{'name':'rahul' , 'age':24 , 'salary':'25k'}]}


emp_data.keys()

dict_keys(['emp1', 'emp2'])

In [11]:
#IS ITERABLE OR NOT

# yES ITS AN ITERABLE

len(emp_data.keys())

2

In [12]:
dir(emp_data.keys())

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'isdisjoint']

In [13]:
# methods to check all the values in the dic


emp_data = {'emp1':{'name':'afsaan' , 'age':23 , 'salary':'24k'} , 
           'emp2':[{'name':'rahul' , 'age':24 , 'salary':'25k'}]}

emp_data.values()

dict_values([{'name': 'afsaan', 'age': 23, 'salary': '24k'}, [{'name': 'rahul', 'age': 24, 'salary': '25k'}]])

In [14]:
# methods to check all the items in the dic

emp_data.items() # --->  list of tuples  -- (key , value)

dict_items([('emp1', {'name': 'afsaan', 'age': 23, 'salary': '24k'}), ('emp2', [{'name': 'rahul', 'age': 24, 'salary': '25k'}])])

In [18]:
emp_data = {'emp1':{'name':'afsaan' , 'age':23 , 'salary':'24k'} , 
           'emp2':[{'name':'rahul' , 'age':24 , 'salary':'25k'}]}

for i , j in emp_data.items():
    if i == 'emp2':
        emp_data[i][0]['age'] = 35

In [19]:
emp_data

{'emp1': {'name': 'afsaan', 'age': 23, 'salary': '24k'},
 'emp2': [{'name': 'rahul', 'age': 35, 'salary': '25k'}]}

In [26]:
# from keys method

# create a new dict with the keys from the iterables and value set to default

d2 = dict.fromkeys([1,2,3] , 'new_key')
d2

{1: 'new_key', 2: 'new_key', 3: 'new_key'}

In [28]:
# clear method

emp_data = {'emp1':{'name':'afsaan' , 'age':23 , 'salary':'24k'} , 
           'emp2':[{'name':'rahul' , 'age':24 , 'salary':'25k'}]}

print(emp_data)

print(emp_data.clear())

print(emp_data)

{'emp1': {'name': 'afsaan', 'age': 23, 'salary': '24k'}, 'emp2': [{'name': 'rahul', 'age': 24, 'salary': '25k'}]}
None
{}

In [31]:
# dict comprehension


dict_keys = [1,2,3,4,5]

# {'key':key**2}

a = {i:i**2 for i in dict_keys}

In [33]:
a

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

# Conditional Statments

# if statements

In [ ]:
# stat1
# stat2
# stat3
# if cond:
#     stat4
#     stat5
    
# if cond is true - 1,2,3,4,5
# if cond is false - 1,2,3

In [ ]:
# stat1
# stat2
# stat3
# if cond:
#     stat4
#     stat5
# stat6
# stat7

if cond is true - 1,2,3,4,5,6,7
if cond is false - 1,2,3,6,7

# if , else statement

In [ ]:
# stat1
# stat2
# stat3
# if cond:
#     stat4
#     stat5
# else:
#     stat6
#     stat7
# stat8
# stat9

if cond is true - 1,2,3,4,5,8,9
if cond is false - 1,2,3,6,7,8,9

In [ ]:
#stat1
# stat2
# stat3
# if cond1:
#     stat4
#     stat5
# if cond2:
#     stat6
#     stat7
# if cond3:
#     stat8
#     stat9
# else:
#     stat10
#     stat11
# stat12
# stat13

# if cond 1 is true and rest false - 1,2,3,4,5,10,11,12,13
# if cond 1 and 2 is true and rest false - 1,2,3,4,5,6,7,10,11,12,13
# if all are fale - 1,2,3,10,11,12,13
# if cond 2 and 3 are true and rest false - 1,2,3,6,7,8,9,12,13

In [ ]:
# stat1
# stat2
# stat3
# if cond1:
#     stat4
#     stat5
# else:
#     stat6
#     stat7
# if cond2:
#     stat8
#     stat9
# if cond3:
#     stat10
#     stat11
# else:
#     stat12
#     stat13
# stat14
# stat15

# if cond 1 is true and rest false - 1,2,3,4,5,12,13,14,15
# if cond 2 is true - 1,2,3,6,7,8,9,12,13,14,15

# if , elif , else

In [ ]:
# stat1
# stat2
# stat3
# if cond1:
#     stat4
#     stat5
# elif cond2:
#     stat8
#     stat9
# elif cond3:
#     stat10
#     stat11
# else:
#     stat12
#     stat13
# stat14
# stat15


# if all condition are true --> 1,2,3,4,5,14,15
# if 1 and 2 are false rest all true ---> 1,2,3,10,11,14,15
# if all are false - 1,2,3,12,13,14,15

In [34]:
a = 33
b = 333
if b>a:
    print('messi')
print('neymar')

messi
neymar

In [35]:
a = 33
b = 333
if b>a:
print('messi')
print('neymar')

IndentationError: expected an indented block (<ipython-input-35-4beb104334e3>, line 4)

In [36]:
a = 34
b = 33
if b>a:
    print('messi')
else:
    print('kante')
print('neymar')

kante
neymar

In [38]:
a = 200
b = 200

if a < b:
    print('hi')
elif a==b:
    print('hello')
elif a>b:
    print('holaa')
else:
    print('heya')
print('bye')

hello
bye

In [40]:
a = 201
b = 199

if a < b:  
    print('hi')
elif a==b: 
    print('hello')
elif a==200: 
    print('holaa')
else:
    print('heya')
print('bye')

heya
bye

In [42]:
a = 200
b = 100
c = 700

if a>b and c>a:
    print('hello')
else:
    print('psg')
print('Goa')

hello
Goa

In [43]:
a = 200
b = 800
c = 700

if a>b or c>a:
    print('hello')
else:
    print('psg')
print('Goa')

hello
Goa

In [45]:
a = 10
b = 20
c = 30

print(a , end='--?')
print(b)

10--?20

In [48]:
a = 10
b = 20
c = 30

print(a,b , sep = '***')
print(c)

10***20
30

In [49]:
a = 10
b = 20
c = 30
d= 50
e = 100

print(a,b , sep = '***')
print(c,d , sep='++++' , end='---')
print(e)

10***20
30++++50---100

In [ ]:
# Nested if

# - if inside a if stament

In [50]:
x = 35

if x > 10:
    print('Mbappe')
    if x > 20:
        print('salah')
    else:
        print('ronaldo')
else:
    if x == 20:
        print('messi')
    else:
        print('Di maria')

print('football')

Mbappe
salah
football

In [51]:
x = 15

if x > 10:  # true
    print('Mbappe') # exe
    if x > 20: # False
        print('salah')
    else: # xece
        print('ronaldo')
else:
    if x == 20:
        print('messi')
    else:
        print('Di maria')

print('football')

Mbappe
ronaldo
football

In [53]:
x = 5

if x >= 5:  # true
    print('Mbappe') # exe
    if x > 20: # False
        print('salah')
    else: # xece
        print('ronaldo')
else:
    if x == 5:
        print('messi')
    else:
        print('Di maria')

print('football')

Mbappe
ronaldo
football

In [56]:
#q1 - check wehter a user defined string is palindrome or not

user_string = input('please eneter a string').lower()

if user_string == user_string[::-1]:
    print('palindrome')
else:
    print('not a palindrome')

please eneter a stringLevel
palindrome

In [ ]:
# taje a five nmbers (int) from user and convert to its word form

1 ---> one
5 ---> five
7 ---> out of bound

In [ ]:
# write a program to find if the user defined year is a leap year or not

#research + coding