#Tuple

- all elements are kept insied  round brackets and elements re sep by commas

In [2]:
a = (1,2,3,4,5)
print(type(a))

<class 'tuple'>

In [3]:
# Creation of a tuple

# 1. you already know the element

a = (10,20,30)

# 2. user input

tup = eval(input('please enter a tuple'))
print(type(tup))

please enter a tuple(1,2,3,4)
<class 'tuple'>

In [5]:
# 3. type casting

a = [1,2,3,4,5]
b = 'afsaan'

# tuple()

print(tuple(a))
print(tuple(b))

(1, 2, 3, 4, 5)
('a', 'f', 's', 'a', 'a', 'n')

In [ ]:
# Properties of tuple

- orderedc collection or seq data type
- indexing an slicing
- allow duplicate element
- u can store any data type
- immutable = assignment is not possible
- basic - slicing , indexing , concatination , reptition , identity , Memebrship

In [6]:
a = (1,2,3,4,5)

print(len(a))

5

In [7]:
a[-1] # indexing

5

In [ ]:
a[::-1] #slicing

In [8]:
# - allow duplicate element
a = (1,1,1,2,2,2) 
print(a)

(1, 1, 1, 2, 2, 2)

In [9]:
#  u can store any data type

a = (1 , 1.2 , None , True , 'abc')
print(a)

(1, 1.2, None, True, 'abc')

In [10]:
# immutable

a = (1,2,3,4)
a[0]=100

TypeError: 'tuple' object does not support item assignment

In [11]:
# Concatination

'''op - +
operator - both should e tuple'''

a = (1,2,3)
b = (5,6,7)

print(a+b)

(1, 2, 3, 5, 6, 7)

In [12]:
# repition

'''op - *
operator - one both should  tuple and other should be int'''

a = (1,2,3)
b = 2

print(a*2)

(1, 2, 3, 1, 2, 3)

In [15]:
# indeitiy

a = (1,2,3,4,5)
b = (1,2,3,4,5)

print(id(a))
print(id(b))

print(a is not b)

140000973468272
140000973468272
False

In [16]:
# membership op

1 in (5,6,7,1)

True

In [17]:
# methods in tuple

dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [19]:
# 1. count

a = (1,2,3,4,5,5,5)
a.count(5)

3

In [20]:
# 2. index

a = (1,2,3,4,5)
a.index(5)

4

In [22]:
# Tuple packing and tuple unpacking

'''1 tuple packing

- packing or assigning muliplre values to varibale'''

a = 1,2,3,4,5,6
print(a)

a = 'afsaan' , 1.2 , None
print(a)

(1, 2, 3, 4, 5, 6)
('afsaan', 1.2, None)

In [23]:
# tuple unpacking

'''- fetcing individual valuye form tuple'''

a ,b , c, d,e = (1,2,3,4,5)

print(a)
print(b)
print(c)
print(d)
print(e)

1
2
3
4
5

In [27]:
a ,b , c, d,e= (1,2,3,4,5)

In [ ]:
# Note - number of varibales on lhs = number of elemenst on the rhs

In [ ]:
# set

# - anything written inside a curly brackets and elements are sep by commas are called as set

In [28]:
a = {1,2,3,4}
print(type(a))

<class 'set'>

In [ ]:
# properties

- unique elements
- it is not a ordered datatype . not seq data
- not supooretd - slicnng and indexing
- mutable

In [38]:
s = {10,20,30,40,5}
print(s)

{5, 40, 10, 20, 30}

In [33]:
s[0]

TypeError: 'set' object is not subscriptable

In [34]:
s[::1]

TypeError: 'set' object is not subscriptable

In [35]:
a = {1,2,3,4,1,1,2,2}
print(a)

{1, 2, 3, 4}

In [36]:
a = {1,1,0,False,True , 'abc', False , 0}
print(a)

{0, 1, 'abc'}

In [ ]:
bool
True
False

In [39]:
'true'

NameError: name 'true' is not defined

# Dictionary

In [40]:
# name , age , salary

a = ['Afsan' , 24 , 240000]

print(a[0])
print(a[1])
print(a[2])

Afsan
24
240000

In [ ]:
a = ['Afsan' , 24 , 24]

print(a[0])
print(a[1])
print(a[2])

In [ ]:
a = [24 , 24 ,'Afsan']

print(a[0])
print(a[1])
print(a[2])

In [41]:
# Dic is a data type that is used to represent a astructure data

employee_data = {'name':'Afsan' , 'age':24 , 'salary':24000}

print(employee_data['name'])
print(employee_data['age'])
print(employee_data['salary'])

Afsan
24
24000

In [42]:
employee_data = {'name':'Afsan' , 'age':24 , 'salary':24}

print(employee_data['name'])
print(employee_data['age'])
print(employee_data['salary'])

Afsan
24
24

In [43]:
employee_data = {'age':24 , 'salary':24 , 'name':'Afsan' }

print(employee_data['name'])
print(employee_data['age'])
print(employee_data['salary'])

Afsan
24
24

In [47]:
# how to create a dic

# 1 . if you already know the element

emp_data = {'emp1':{'name':'afsaan' , 'age':23 , 'salary':'24k'} , 
           'emp2':{'name':'rahul' , 'age':24 , 'salary':'25k'}}

print(emp_data)

{'emp1': {'name': 'afsaan', 'age': 23, 'salary': '24k'}, 'emp2': {'name': 'rahul', 'age': 24, 'salary': '25k'}}

In [ ]:
# 2 . taking a user input

In [48]:
a = eval(input())
print(a)

{1:2}
{1: 2}

In [ ]:
3 - using type casting -


'''dic functons takes a seq of inner seq where inner seq will have a pair of values and out of that the 
first valye beacome s the key and second vcalue becomes the value'''

In [51]:
a = [(1,2) , [2,3] , [3,4] , [4,5]]
dict(a)

{1: 2, 2: 3, 3: 4, 4: 5}

In [ ]:
zip function

 - seq of inner seq
    
syntax = zip(iterable1 , iterable1)

In [62]:
dict(zip([1,2,3 , 4] , ['a' , 'b' , 'c' ] , ['1','2' , '3']))

ValueError: dictionary update sequence element #0 has length 3; 2 is required

In [ ]:
# properties of dic

1 . it is a collection of key value pair
2 - a key:value pair is called as item
3 - items are sep by commas
4 - key and value are sep by :
5 - key cannot be duplicated but values can be duplicated
6 - key cannot be a mutable objects
7 - values can be any data type
8 - itesm are enclosed in curly brackets
9 - it is not a seq data type - indexing , slicing , concatnation , repeition
10 - memebership are supported but only on key and return True if key is present otherwise false
11 - identity
12 - dic is mutable - > object can be changed

In [65]:
# 5 - key cannot be duplicated but values can be duplicated


emp_data = {'emp1':{'name':'afsaan' , 'age':23 , 'salary':'24k'} , 
           'emp2':{'name':'rahul' , 'age':24 , 'salary':'25k'},
           'emp2':{'name':'rahul' , 'age':24 , 'salary':'25k'}}

print(emp_data)

{'emp1': {'name': 'afsaan', 'age': 23, 'salary': '24k'}, 'emp2': {'name': 'rahul', 'age': 24, 'salary': '25k'}}

In [66]:
# 6 - key cannot be a mutable objects

emp_data = {['emp1']:{'name':'afsaan' , 'age':23 , 'salary':'24k'} , 
           'emp2':{'name':'rahul' , 'age':24 , 'salary':'25k'},

            'emp2':{'name':'rahul' , 'age':24 , 'salary':'25k'}}

TypeError: unhashable type: 'list'

In [83]:
# 7 - values can be any data type

emp_data = {'emp1':{'name':'afsaan' , 'age':23 , 'salary':'24k'} , 
           'emp2':[{'name':'rahul' , 'age':24 , 'salary':'25k'}],
           'emp2':({'name':'rahul' , 'age':24 , 'salary':'25k'},)}
print(emp_data)

{'emp1': {'name': 'afsaan', 'age': 23, 'salary': '24k'}, 'emp2': ({'name': 'rahul', 'age': 24, 'salary': '25k'},)}

In [74]:
emp_data = {'emp1':{'name':'afsaan' , 'age':23 , 'salary':'24k'} , 
           'emp2':{'name':'rahul' , 'age':24 , 'salary':'25k'},
           'emp2':[{'name':'rahul' , 'age':24 , 'salary':'25k'}]}


emp_data['emp1']['name']

'afsaan'

In [102]:
# 10 - memebership are supported but only on key and return True if key is present otherwise false

emp_data = {'emp1':{'name':'afsaan' , 'age':23 , 'salary':'24k'} , 
           'emp2':[{'name':'rahul' , 'age':24 , 'salary':'25k'}],
           'emp2':({'name':'rahul' , 'age':24 , 'salary':'25k'},)}

'name' in emp_data

False

In [101]:
emp_data

{'emp1': {'name': 'afsaan', 'age': 23, 'salary': '24k'},
 'emp2': ({'name': 'rahul', 'age': 24, 'salary': '25k'},)}

In [106]:
'afsaan' in emp_data['emp1']['name']

False

In [107]:
'afsan' in [1,2,3,4][0]

False

In [108]:
'afsaan' in 1

TypeError: argument of type 'int' is not iterable

In [109]:
# upate on dic


emp_data = {'emp1':{'name':'afsaan' , 'age':23 , 'salary':'24k'} , 
           'emp2':[{'name':'rahul' , 'age':24 , 'salary':'25k'}]}

In [112]:
# if key is available
emp_data['emp1'] = 100
emp_data

{'emp1': 100, 'emp2': [{'name': 'rahul', 'age': 24, 'salary': '25k'}]}

In [113]:
# if key is not available

emp_data = {'emp1':{'name':'afsaan' , 'age':23 , 'salary':'24k'} , 
           'emp2':[{'name':'rahul' , 'age':24 , 'salary':'25k'}]}

emp_data['emp_5'] = 100
print(emp_data)

{'emp1': {'name': 'afsaan', 'age': 23, 'salary': '24k'}, 'emp2': [{'name': 'rahul', 'age': 24, 'salary': '25k'}], 'emp_5': 100}

In [115]:
# Methods on dict

dir(dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [ ]:
# methods to add and access the element from the dict

1. get
2. setdefault
3. update

In [122]:
'''1. get

if key is present it returns the value , else deafult value'''

# a,) if key is present

emp_data = {'emp1':{'name':'afsaan' , 'age':23 , 'salary':'24k'} , 
           'emp2':[{'name':'rahul' , 'age':24 , 'salary':'25k'}]}


emp_data.get('emp1')

{'name': 'afsaan', 'age': 23, 'salary': '24k'}

In [123]:
# b.) if key is not present

print(emp_data.get('emp4')

key is not present

In [125]:
# you can customise the default message of your own choice

print(emp_data.get('emp4' , 'not present'))

not present

In [119]:
'''2 . setdefault

insert the key with the value of the default if key is not in the dic , else return the value of the key'''

# a,) if key is present

emp_data = {'emp1':{'name':'afsaan' , 'age':23 , 'salary':'24k'} , 
           'emp2':[{'name':'rahul' , 'age':24 , 'salary':'25k'}]}


emp_data.setdefault('emp2')

[{'name': 'rahul', 'age': 24, 'salary': '25k'}]

In [120]:
# b.) if key is not present

print(emp_data.setdefault('emp4'))

None

In [126]:
# ypu can customise the vlaue of the key
print(emp_data.setdefault('emp4' , 'default value'))

default value

In [127]:
emp_data

{'emp1': {'name': 'afsaan', 'age': 23, 'salary': '24k'},
 'emp2': [{'name': 'rahul', 'age': 24, 'salary': '25k'}],
 'emp4': 'default value'}

In [128]:
# 3. update

emp_data = {'emp1':{'name':'afsaan' , 'age':23 , 'salary':'24k'} , 
           'emp2':[{'name':'rahul' , 'age':24 , 'salary':'25k'}]}

emp_data.update({'emp3':{'name':'abc'}})

In [129]:
emp_data

{'emp1': {'name': 'afsaan', 'age': 23, 'salary': '24k'},
 'emp2': [{'name': 'rahul', 'age': 24, 'salary': '25k'}],
 'emp3': {'name': 'abc'}}

In [ ]:
# webisite

hacker rank
hacker earth
https://www.geeksforgeeks.org/python-string-exercise/
https://leetcode.com/
    
daily try 5 question

30 days