In [2]:
s1 = 'abc'
s2 = '123abc'
s3 = '*' 
s4 = '112'
s5 = 'flie√üen'

# iascii - retrun true if all the characters are from ascii table
print(s1.isascii()) # true
print(s2.isascii()) # True
print(s3.isascii()) # True
print(s4.isascii()) # true
print(s5.isascii()) # False

True
True
True
True
False

In [3]:
# escape characters

In [16]:
# \n - new line

print('hello\\nworld')

hello\nworld

In [9]:
# \ - back slash

print('line1\
      line2\
      line3')

line1      line2      line3

In [18]:
a = 'this is a python\'s class'
print(a)

this is a python's class

In [19]:
a = "this is a \"pythons\" class"
print(a)

this is a "pythons" class

In [ ]:
a = 'this is a \"pythons\" class'
print(a)

In [21]:
# \b - backspace

print('afsan\bkhan')

afsan\bkhan

In [22]:
print('ab' + '\b' +'c')

abc

In [25]:
# \r - carriage return - Moves all the characters after the C.R to the beg of the line while overirding the same characters

print('hello\rwor')

wor

In [27]:
print('hello\rafsaan')

afsaan

In [28]:
# \t - tab
print('hello\tworld')

hello	world

In [31]:
# r - rawsting

print(r'afsaan\nkhan')

afsaan\nkhan

In [35]:
s1 = 'abc'
s2 = '123abc'
s3 = '*' 
s4 = '112'
s5 = '112Ax'
s6 = 'ABC'

# islower 
print(s1.islower()) # True
print(s2.islower())#  True
print(s3.islower()) # Flase
print(s4.islower()) # False

print('----------------------------------------------')

# isupper 
print(s1.isupper()) # False
print(s2.isupper())#  False
print(s3.isupper()) # Flase
print(s4.isupper()) # False
print(s5.isupper()) # True
print(s6.isupper()) # True


print('----------------------------------------------')

# istitle 
print(s1.istitle()) # False
print(s2.istitle())#  False
print(s3.istitle()) # Flase
print(s4.istitle()) # False
print(s5.istitle()) # False
print(s6.istitle()) # False

True
True
False
False
----------------------------------------------
False
False
False
False
False
True
----------------------------------------------
False
False
False
False
True
False

In [38]:
# title

'ABC kyc xyz'.title()

'Abc Kyc Xyz'

In [41]:
a = 'Afsan is a learnbay Instructor and Suraj , Akshay , Deepti are the students'

In [42]:
for i in a.split():
    if i.istitle():
        print(i)

Afsan
Instructor
Suraj
Akshay
Deepti

In [40]:
a.split()

['this', 'is', 'a', '"pythons"', 'class']

In [48]:
# strip , rstrip , lstrip

# strip - removeing the space(default) from both the ends

a = ' python '
print(len(a))
print(a.strip()) # deagult value is space

a = '@@afsan@@'
print(a.strip('@'))


# rstrip - 

a = '@@afsan@@'
print(a.rstrip('@'))


# lstrip - 

a = '@@afsan@@'
print(a.lstrip('@'))

8
python
afsan
@@afsan
afsan@@

In [53]:
username = input('please enter your usrname')
pas  = input('please enter the password')

if username.strip() == 'Afsan' and pas.strip() == '123':
    print('looged in')
else:
    print('wrong credentials')

please enter your usrnameAfsan
please enter the password123
looged in

In [59]:
# count

my_str = ' afsaan loves to play football'
my_str.count('a')
my_str.count('afsaan', 4,18)

0

In [66]:
# find , rfind , index , rindex - this method finds staring index  of the specified character


# find - finds the inex from L to R
my_str = 'afsaan loves to play football'
my_str.find('n')

# rfind - R to l
my_str = 'afsaan loves to play football'
my_str.rfind('a')


# index - finds the inex from L to R
my_str = 'afsaan loves to play football'
my_str.index('n')

# rindex - R to l
my_str = 'afsaan loves to play football'
my_str.rindex('a')

26

In [68]:
# NOTE - find will retrun -1 if noting is found whereas index will rasie an error

# find - finds the inex from L to R
my_str = 'afsaan loves to play football'
my_str.find('x')

# index - finds the inex from L to R
my_str = 'afsaan loves to play football'
my_str.index('x')

ValueError: substring not found

In [69]:
# ljust ( left adjustment)  , rjust ( right adjustment)

text = 'afsan'

print(text.ljust(20) , 'hello world')

afsan                hello world

In [70]:
text = 'afsan'

print(text.rjust(20) , 'hello world')

               afsan hello world

In [71]:
# replace 

my_str = 'Afsan loves to play football'
my_str.replace('a' , 'p')

'Afspn loves to plpy footbpll'

In [72]:
my_str

'Afsan loves to play football'

In [75]:
# split - cobverts string obj to a list obj

my_str = 'Afsan loves to play football'
print(type(my_str) , my_str)

print(my_str.split()) # default is space

<class 'str'> Afsan loves to play football
['Afsan', 'loves', 'to', 'play', 'football']

In [76]:
my_str = 'Afsan loves to play football'
print(type(my_str) , my_str)

print(my_str.split('a')) # default is space

<class 'str'> Afsan loves to play football
['Afs', 'n loves to pl', 'y footb', 'll']

In [79]:
# join - converts the list back to string

list_1 = ['Afsan', 'loves', 'to', 'play', 'football']
"--->".join(list_1)

'Afsan--->loves--->to--->play--->football'

In [ ]:
# list 
 
# Creation of list

# 1 . you already know 

fruits = ['apple' , 'mango' , 'banana']

In [80]:
# 2. split

a = 'abc xyz'
a.split()

['abc', 'xyz']

In [82]:
# 3. type casting

a = (1,2,3,4)
b = 'afsaan'

list(b)

['a', 'f', 's', 'a', 'a', 'n']

In [83]:
# 4. eval

list1 = eval(input('please enter a list'))
print(list1)

please enter a list[1,2,3,4,5,6]
[1, 2, 3, 4, 5, 6]

In [ ]:
# Properties of list

- seq data type
- indexing and slicing
- mutable 
- allows duplication
- allows al data types
- basic - slcing , indeixng , concatination , repetition , identity , memebrship

In [84]:
a = [1,2,3,4,5,6,7,8,9]
print(a[-2])

8

In [85]:
a = [1,2,3,4,5,6,7,8,9]
print(a[::-2])

[9, 7, 5, 3, 1]

In [ ]:
# concatination

op - +
operands - both should be a list

In [91]:
a = [1,2,3]
b = [3,4,5]

print(a + b)

[1, 2, 3, 3, 4, 5]

In [ ]:
# repeititon

op - *
operand - one should int and other should be list

In [92]:
a= [1,2,3,4]
b = 3

print(a*3)

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [ ]:
# Memebrship

op - in, not in

In [93]:
4 in [1,2,3,4]

True

In [ ]:
# indentity

op - is , is not

In [95]:
a = [1,2,3]
b = [1,2,3]

print(a[0] is b[0])

True

In [97]:
# nested list - list inside list 

a = [1,2,3,[1,2,3] , [5,6,7]]

In [98]:
a[-1][-2]

6

In [99]:
a[-1][1]

6

In [100]:
a[4][-2]

6

In [101]:
a = [[1,2,4] , [5,6,7] , [8,[9,10,['a' , 'b']]]]

In [102]:
a[-1][-1][-1][-1]

'b'

In [103]:
a[2][1][2][1]

'b'

In [107]:
a[-1][1][2][-1]

'b'