In [ ]:
1. Fundamental - 

- int - any value withiut a decimal point eg 100, 200, 99 ,3,4,5 etc
- string - anyhting inside a '..' , "..." , '''...''' , """..."""
- bool - True / False
- float - any valuw with a decimal point eg 99.09 , 100.04 , 110.0
- Complex - any number whihc can be wriiten in the form of a +bj where a is real and b is imaginary
- None - NUll value



2. Derievd Data types - composed of fundamental data types

- list
- tuple
- set
- dic
- range

In [2]:
# int

i = 10
print(i)
print(type(i))

10
<class 'int'>

In [4]:
# float

i = 4.5
print(i)
print(type(i))

4.5
<class 'float'>

In [6]:
# String

a = 'python'

print(a)
print(type(a))

python
<class 'str'>

In [7]:
a = 'python'
b = "python"
c = '''python'''

print(a)
print(b)
print(c)

python
python
python

In [9]:
a = 'this is python class'

a = "this is python's class"

In [10]:
a = ' i
hello
afsaan'

SyntaxError: EOL while scanning string literal (<ipython-input-10-49dae3900aba>, line 1)

In [11]:
a = """ hi
hello
afsaan"""

In [12]:
print(a)

 hi
hello
afsaan

In [14]:
# Bool - True / False

a = True
print(a)
print(type(a))

True
<class 'bool'>

In [15]:
# None 

a = None
print(a)
print(type(a))

None
<class 'NoneType'>

In [16]:
a = "this is python's class \n hello world"
print(a)

this is python's class
 hello world

In [ ]:
name    salary    exp
afsan           2

rahul    24k      None

In [17]:
a = 10
b = 20
c = 30

print(d)

NameError: name 'd' is not defined

In [ ]:
a = 10
b = 10

In [ ]:
Integers

Types of opration that we can perform on integers

1 . Arthematic op

+ , - , * , /(float divison) , % , //(floor divison) , exponent(**)

In [25]:
print(10+30)
print(10-20)
print(10*2)
print(10%2) # modules gives the remainder
print (10/3)
print(10//3.0)
print(10.0//3)
print(3**3)

40
-10
20
0
3.3333333333333335
3.0
3.0
27

In [29]:
2. Comparison op , > , < , >= , <=

- always return boolean output True / False

- can be perfomred on int vs int
- int vs float
- str vs str
- cannot on complex
- cannot on None type

3.6666666666666665

In [30]:
a = 1
b = 2
print(a<b)

True

In [31]:
a = 10
b = 2
print(a<b)

False

In [32]:
a = 10
b = 10
print(a<=b)

True

In [33]:
a = 2
b = 'afsaan'

print(a<b)

TypeError: '<' not supported between instances of 'int' and 'str'

In [34]:
a = 'afsaan'
b = 'abc'

print(a < b)

False

In [39]:
a = 'afs'
b = 'afsaa'

print(a < b)

True

In [40]:
a = 'Vasudev'
b = 'abc'
print(a<b)

True

In [ ]:
V  - 86
a  - 97

In [ ]:
3. Equality op - == , !=

- it return the Boool  True/False

- it works on all datatypes

In [44]:
2 == 10+6j

False

In [45]:
True == 1

True

In [46]:
print(True + True + True)

3

In [47]:
int(True)

1

In [48]:
0 != '0'

True

In [50]:
'True' == 'True'

True

In [51]:
# ascii

ord('a')

97

In [52]:
ord('C')

67

In [53]:
chr(99)

'c'

In [54]:
# question print('A' <= chr(65))

print('A' <= chr(65))

True

In [55]:
5. logcial operators - and , or , not

and 
True and True ---> True
True and False ----> False
False and True ---> False
False and False ----> False

or


True or True ---> True
True or False ----> True
False or True ---> True
False or False ----> False


not 

not True ----> Flase
not False---> True

SyntaxError: invalid syntax (<ipython-input-55-111f36673c05>, line 1)

In [56]:
print(True and True)

True

In [57]:
print((10<20) and (10==20))

False

In [58]:
print((10<20) or (10==20))

True

In [59]:
print(1 and 2)

2

In [ ]:
# there is a small devieation in the rule

if a and b are two value

# A and B ---> result will be A if A is False else B
# A or B ----> Result will be A if A is True else B

In [61]:
print(10 and 20)

20

In [62]:
print(0 and 30)

0

In [63]:
print(10 or 20)

10

In [64]:
print(0 or 20)

20

In [65]:
5. Bitwsie op - &(bitwsie and) , |(bitwise or) , ~(bitwise not) , <<(bitwsie left shift) , >> (biwise right shift)

- works on bits
- works only on int

False

In [69]:
x = 10 #------> binary ------>  1010
y = 4 #------> binary -------> 0100

print(x&y)

0

In [66]:
bin(10)

'0b1010'

In [ ]:
10 --->   1    0    1     0
4 ---->   0    1    0     0

and       0    0    0     0

In [68]:
# 0000 ----> int

print(0b0000)

0

In [71]:
bin(36)

'0b100100'

In [74]:
x = 24  #----> 11000
y = 36  #-----> 100100

print(x | y)

60

In [ ]:
   1    1    0    0     0
1  0    0    1    0     0

1   1     1     1     0      0

In [73]:
print(0b111100)

60

In [ ]:
^

XOR

True and True ----> True
True and False ---> Flase
False and Flase ---> True
Flase and True ---> False

In [75]:
x = 24  #----> 11000
y = 36  #-----> 100100

print(x ^ y)

60

In [79]:
# bitwise right shift A // (2**n)

x = 100
x >> 4

6

In [78]:
100 // (2**4)

6

In [81]:
# bitwise left shift A * (2**n)

x = 100
x << 4

1600

In [80]:
100 * (2**4)

1600

In [82]:
# ~

a = 10
print(~a)

# add 1 to a = 11
# revetr the sign - -11

-11

In [83]:
a = 102
print(~a)

# add 1 to a = 103
# revetr the sign - -103

-103

In [84]:
a = -102
print(~a)

# add 1 to a = -101
# revetr the sign - 101

101

In [ ]:
6 Assignment operatr

In [ ]:
a = 10

# add 5 to a and resagin to a

a = 5 + a

a += 5 -----> a = a+5

In [85]:
a = 10
a += 5 --- > a = 5 +a
print(a)

15

In [86]:
a = 10
a *= 5 
print(a)

50

In [87]:
a = 10
a %= 5 
print(a)

0

In [88]:
a = 10.0
a //= 5 
print(a)

2.0

In [ ]:
**=


&=



|=



^=




>>=


<<=


/

In [ ]:
& Identity op

- is and is not

In [90]:
a = 100
b = 200

print(a is b)

False

In [91]:
print(id(a))

94135084571040

In [92]:
print(id(b))

94135084574240

In [93]:
a = 100
b = 100

print(a is b)

True

In [95]:
a = 257
b = 257

print(a is not b)

True

In [96]:
print(id(a))
print(id(b))

140577474407952
140577474407792

In [ ]:
Concept of object reusablity

wordks for
1. int - -5 to 256
None
Bool
string - A_Z , a-z , 0-9 , _


dosnt work for

float
complex

In [97]:
a = 10
b = 10

print(id(a))
print(id(b))

94135084568160
94135084568160

In [98]:
print(a is b)

True

In [99]:
a = 700
b = 700

print(id(a))
print(id(b))

140577474408240
140577474407888

In [101]:
a = 'abc1'
b = 'abc1'


print(id(a))
print(id(b))

print(a is b)

140577478242544
140577478242544
True

In [102]:
a = 'abc1='
b = 'abc1='


print(id(a))
print(id(b))

print(a is b)

140577478754224
140577478752752
False

In [105]:
a = 'afsaan khan'
b = 'afsaan_khan'
c = 'afsaan_khan'


print(id(a))
print(id(b))

print(b is c)

140577478532208
140577478530352
True

In [108]:
a = 'afsaan_khan'
b = 'afsaan_khan'


print(id(a))
print(id(b))

140577478530352
140577478530352